@import "src/styles";

main {
  height: 100vh;
  section {
    height: calc(100% - var(--appbar-height));
    @include flex();
    article {
      @include flex();
      p {
        font-size: 1.6rem;
      }
    }
  }
}
