@import "src/styles";

section {
  width: 100%;
  height: 100%;
  @include flex($direction: column);
  article {
  }
  .version {
    color: var(--app-color-text-subtitle);
    font-size: 1.2rem;
    font-weight: 600;
  }
}
