@import "src/styles";

header {
  width: 100%;
  height: var(--appbar-height);
  padding: 1rem;
  background-color: var(--app-color-secondary);
  @include flex($justify: space-between, $align: center);
  .logo-container {
    img {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
    }
  }
  nav {
    ul {
      font-size: 1.6rem;
      @include flex($justify: space-between, $align: center, $gap: 1.6rem);
      li {
        list-style: none;
        cursor: pointer;
        a {
          &.active {
            color: #fff;
          }
        }
      }
      button {
        padding: 1rem 2rem;
        height: 100%;
        color: #fff;
        background: #e6260a;
        outline: none;
        border: none;
        border-radius: 0.8rem;
      }
    }
  }
}
